<!DOCTYPE html>
<html>
<head>
  <title>Processing</title>
  <link rel="stylesheet" href="/loader.css">
  <script>
    setTimeout(() => {
      window.location.href = "/final";
    }, 15000);
  </script>
</head>
<body>
<div class="loader"></div>
<p style="text-align:center;">Processing, please wait...</p>
</body>
</html>
