.loader {
  border: 6px solid #eaeaea;
  border-top: 6px solid #0a66c2;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 1s linear infinite;
  margin: 100px auto;
}

@keyframes spin { to { transform: rotate(360deg); } }

p { text-align:center; font-size:16px; margin-top:20px; }
